@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
/*Body CSS For Entire Page*/
body{
    background-color: #17181A;
    font-family: 'Outfit', sans-serif;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/*Website Container*/
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

/*Navigation Bar*/
#nav-logo{
    float: left;
    margin-top: 1rem;
    color: #f5f5f5;
}
#nav-menu{
    float: right;
    padding: 0;
}
#nav-menu li{
    display: inline-block;
    margin: .5rem 1.5rem;
}
#nav-menu a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 120%;
}
/* /Navigation Bar*/

/*Hero Image*/
#hero-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)), url("../images/hero-image-large.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
    width: 100%;
}

/*Hero Text*/
.hero-text{
    text-align: center;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text h2{
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0;
    letter-spacing: .2rem;
}
.hero-text h3{
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    letter-spacing: .2rem;
}
/* /Hero Text */
/*About us Section*/
#about-us{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    columns: 2;
    text-align: center;
    padding: 1rem;
}
/*About Us Icons*/
#about-us i{
    font-size: 3rem;
    margin-top: 1rem;
}
/*About Us h3*/
#about-us h3{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
}
/*About Us Section Line Spacing*/
#about-us hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}
#about-us p{
    letter-spacing: .1rem;
}
/*About Us Left columns*/
#about-us-info{
    padding: 2.5rem;
}
/*What We Offer Right columns*/
#what-we-offer{
    padding: 2.5rem;
}
#what-we-offer a{
    color: #f5f5f5;
}

/*Which Plan Is Right For You Section*/
#which-plan{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/* Which Plan Content and Text*/
#which-plan-content{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* Which Plan Icons*/
#which-plan-content i{
    font-size: 3rem;
    margin-top: 1rem;
}
/* Which Plan Header*/
#which-plan-content h3{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
}
/* Which Plan Line Break*/
#which-plan-content hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}
/*Which Plan Text Content*/
#which-plan-content p{
    letter-spacing: .1rem;
}

/*Workout Plans Section*/
#workout-plans{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 2rem;
}
/*Workout Plan Headings*/
#workout-plans h2{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
    margin-top: 5rem;
}
/*Workout Plan Line Breaks*/
#workout-plans hr{
    width: 50%;
    border: 2px solid;
    border-radius: 1rem;
}
/*Plan columns*/
#workout-plans-layout{
    columns: 3;
}
/*Workout Plan Image Style*/
.workout-plan-image{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin-top: 2rem;
    border: 2px solid #f5f5f5;
    box-shadow: 0px 0px 1rem #fff;    
}
/*Workout Plan Headers*/
#workout-plans-layout h2{
    font-size: 200%;
    margin: 1rem;
}
/*Workout Plan Line Breaks*/
#workout-plans-layout hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}
/* Workout Plan Button*/
#workout-plans a{
    color: #f5f5f5;
    text-decoration: none;
    display: inline-block;
    border-radius: .75rem;
    border: 2px solid #f5f5f5;
    width: 25%;
    height: auto;
    padding: 0.25rem;
}
#workout-plans a:hover{
    background-color: #f5f5f5;
    color: #17181A;
    cursor: pointer;
}
/*Footer*/
#footer-container{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    columns: 3;
    text-align: center;
    letter-spacing: .1rem;
}
/* Footer Background */
#footer-background{
    background-color: #f5f5f5;
    color: #17181A;
}
/*Footer Header*/
.connect-with-us-heading{
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    padding: 0;
}
/* Connect with us icons*/
.connect-icons{
    margin: 0.5rem 0 1rem 0;
    padding: 0 0 .5rem 0;
}
/*Connect with us list style*/
.connect-icons li{
    display: inline-block;
    padding: 0 1rem;
}
/*Connect with us link style*/
.connect-icons a{
    color: #17181A;
    font-size: 1.5rem;
    text-decoration: none;
}
/*Center Copywright text*/
.copywright-text{
    font-size: 1rem;
    font-weight: bolder;
}
/*Copywright Top P Text Style*/
.copywright-p-text{
    padding: 1rem 0 0 0 !important /*!important Tag use to prioritise code over p text style*/;
}
.copywright-text p{
    margin: 0;
    padding: .5rem 0 0 0;
}
/*Subscribe Form Heading*/
.subscribe-form h3{
    padding: 1rem 0 0 0;
    margin-bottom: .5rem;
}
/* Email Input Box*/
.email-input{
    width: 11rem;
    background-color: #f5f5f5;
    border: 2px solid #17181A;
    color: #17181A;
    border-radius: .25rem;
}
/*Subscribe Form Submit Button*/
.submit-button{
    background-color: #f5f5f5;
    border: 2px solid #17181A;
    color: #17181A;
    border-radius: .25rem;
}
/*Subscribe Form Submit Hover style*/
.submit-button:hover{
    background-color: #17181A;
    color: #f5f5f5;
    border-radius: .25rem;
    cursor: pointer;
}

/* Media Query*/
/* Active for Screen sizes less than 576px */
@media screen and (max-width: 576px) {  
    #hero-content{
        height: 50rem;
    }
    .hero-text{
        top: 50%;
        width: 75%;
    }
    .hero-text h2{
        font-size: 3rem;
    }
    .hero-text h3{
        font-size: 1rem;
    }
    #about-us{
        max-width: 556px;
        columns: 1;
        padding: 0;
    }
    #which-plan{
        max-width: 556px;
    }
    #workout-plans-layout{
        columns: 1;
    }
    #workout-plans p{
        padding: 1rem;
    }
    #footer-container{
        max-width: 556px;
    }
    .connect-icons li {
        padding: 0 .5rem;
    }
    .email-input{
        width: auto;
        margin-bottom: .5rem;
    }

}

/* Add Screen Size for Navigation Menu Responsive, 610px*/
@media screen and (max-width: 610px) {
    #nav-menu{
        clear: left;
        float: left;
        margin: 0;
    }
    #nav-menu li{
        margin:0 1rem 0 0;
    }
    
}

/* Active for Screen sizes less than 768px */
@media screen and (max-width: 768px) {
    #hero-content{
        height: 50rem;
    }
    .hero-text{
        width: 75%;
        top: 50%;
    }
    .hero-text h2{
        font-size: 3rem;
    }
    .hero-text h3{
        font-size: 1rem;
    }
    #about-us{
        max-width: 748px;
        columns: 1;
        padding: 0;
    }
    #which-plan{
        max-width: 748px;
    }
    #workout-plans-layout{
        columns: 1;
    }
    #workout-plans p{
        padding: 0 5rem 0 5rem;
    }
    #footer-container{
        columns: 1;
    }
    .subscribe-form{
        margin-bottom: 1rem;
    }





}
/* Active for screen sizes 992px wide and bellow */
@media screen and (max-width:992px)  {
    #workout-plans-layout h2 {
        font-size: 2rem;
    }
    #workout-plans-layout p{
        padding: 0 .5rem 0 .5rem;
    }
}

/* Active for screen sizes 1200px wide */
@media screen and (max-width: 1200px){
    #hero-content{
        height: 50rem;
    }
    .hero-text{
        top: 50%;
    }
}

/* Active for Screen size 1920px wide and 1080p heigh*/
@media screen and (max-width: 1920px){
    #hero-content{
        height: 67.5rem;
    }
}