@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    background-color: #17181A;
    font-family: 'Outfit', sans-serif;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/*Website Container*/
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

/*Navigation Bar*/
#nav-logo{
    float: left;
    margin-top: 1rem;
    color: #f5f5f5;
}

#nav-menu{
    float: right;
}

#nav-menu li{
    display: inline-block;
    margin: 10px 25px;
}
#nav-menu a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 120%;
}

/*Hero Image*/
#hero-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)), url("/assets/images/hero-image-xl.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
    width: 100%;
}

/*Hero Text*/
.hero-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1{
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0;
    letter-spacing: .2rem;
}

.hero-text h2{
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    letter-spacing: .2rem;
}

/*About us Section*/
#about-us{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    columns: 2;
    text-align: center;
    padding: 1rem;
}
/*About Us Icons*/
#about-us i{
    font-size: 3rem;
    margin-top: 1rem;
}
/*About Us h3*/
#about-us h3{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
}
/*About Us Section Line Spacing*/
#about-us hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}
#about-us p{
    letter-spacing: .1rem;
}
/*About Us Left columns*/
#about-us-info{
    padding: 2.5rem;
}
/*What We Offer Right columns*/
#what-we-offer{
    padding: 2.5rem;
}

/*Which Plan Is Right For You Section*/
#which-plan{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 1rem;
}
#which-plan-content{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
#which-plan-content i{
    font-size: 3rem;
    margin-top: 1rem;
}
#which-plan-content h3{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
}
#which-plan-content hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}
#which-plan-content p{
    letter-spacing: .1rem;
}

/*Workout Plans Section*/
#workout-plans{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/*Workout Plan Headings*/
#workout-plans h2{
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: .1rem;
    margin-top: 5rem;
}
/*Workout Plan Line Breaks*/
#workout-plans hr{
    width: 50%;
    border: 2px solid;
    border-radius: 1rem;
}
/*Plan columns*/
#workout-plans-layout{
    columns: 3;
}
/*Workout Plan Image Style*/
.workout-plan-image{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin-top: 2rem;
    border: 2px solid #f5f5f5;
    box-shadow: 0px 0px 1rem #fff;    
}
/*Workout Plan Headers*/
#workout-plans-layout h2{
    font-size: 2.5rem;
    margin: 1rem;
}
/*Workout Plan Line Breaks*/
#workout-plans-layout hr{
    width: 75%;
    border: 2px solid;
    border-radius: 1rem;
}